*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rowdies', cursive;
}

section
{
    padding: 20px;
    width: 1280px;
    margin: 40px auto;
}
h1
{
    text-align: center;
    font-size: 80px;
    font-family: 'Rowdies', cursive;
}
section ul
{
    display: flex;
    margin-bottom: 10px;
}
section ul li
{
    list-style: none;
    background: peru;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
section ul li.active
{
    background: rgb(199, 124, 124);
    color: #fff;
}
.product
{
    display: flex;
    flex-wrap: wrap;    
}

.texto
{
    margin-top: 300px;
}

.product .itemBox
{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
    margin-bottom: 60px;
}

.product .itemBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn
{
    margin-bottom: 15px;
    
}

.btn
{
    background-color: gray;
}
